<div class="container mt-5">
    <div class="loutre-grid card_location">
      <% @locations.each do |location| %>
          <div class="card-loutre mb-4">
             <% if location.loutre.photo.attached? %>
              <%= cl_image_tag(location.loutre.photo.key) %>
            <% else %>
              <%= image_tag('loutre_boxe.jpg') %>
            <% end %>
            <div class="card-loutre-infos">
              <div>
                <h2><%= location.loutre.name %></h2>
                <p><%= location.user.first_name %></p>
                <p><%= (location["date_départ"] - location.date_arrive).to_i %> jour(s)</p>
                <p><%= (location["date_départ"] - location.date_arrive).to_i *  location.loutre.price %> € </p>
              </div>
              <h2><%= location.loutre.price %> € /jour</h2>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <% if location.status == false %>
                  <button type="button" class="btn btn-success">
                  <%= link_to "validé", accept_location_path(location), method: :post %></button>
                  <button type="button" class="btn btn-danger">No</button>
                <% else %>
                  <p>validé</p>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
