<div class="container mt-5">
    <div class="loutre-grid">
      <% @loutres.each do |loutre| %>
        <%= link_to loutre_path(loutre), class: "link-no-deco" do %>
          <div class="card-loutre mb-4">
            <% if loutre.photo.attached? %>
              <%= cl_image_tag(loutre.photo.key) %>
            <% else %>
              <%= image_tag('loutre_boxe.jpg') %>
            <% end %>
            <div class="card-loutre-infos">
              <div>
                <h2><%= loutre.name %></h2>
                <p><%=  loutre.personality %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
