<div class="container mt-5">
    <div class="loutre-grid card_location">
      <% @locations.each do |location| %>
          <div class="card-loutre mb-4">
            <%= image_tag(location.loutre.image) %>
            <div class="card-loutre-infos">
              <div>
                <h2><%= location.loutre.name %></h2>
                <p><%= location.user.first_name %></p>
                <p><%= (location.date_arrive - location["date_départ"]).to_i %> jour(s)</p>
                <p><%= (location.date_arrive - location["date_départ"]).to_i *  location.loutre.price %> € </p>
              </div>
              <h2><%= location.loutre.price %> € /jour</h2>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-success"><%= link_to "validé", accept_location_path(location) %></button>

                <button type="button" class="btn btn-danger">No</button>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
