<div class="border border-top-secondary">
<div class="container py-5">
  <h2 class="title-index col m-10"><%= @loutres.count %> loutres disponibles</h2>
<div class="container">
  <div class="row">
    <div class="mt-2 map-position col-5 pr-5">
      <div style="width: 500px; height: 440px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    </div>
  </div>
  <div class="mt-2 mr-5 col-7 ml-100">
    <div class="loutre-grid mt-2">
      <% @loutres.each do |loutre| %>
        <%= link_to loutre_path(loutre), class: "link-no-deco" do %>
          <div class="card-loutre mb-4">
            <% if loutre.photo.attached? %>
              <%= cl_image_tag loutre.photo.key, height: 300, width: 400, crop: :fill %>
            <% else  %>
              <%= image_tag('loutre_chasse.jpg') %>
            <% end %>
            <div class="card-loutre-infos">
              <div>
                <h2><%= loutre.name %></h2>
                <p><%=  loutre.personality %></p>
              </div>
              <h2><%= loutre.price %> € /jour</h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="text-center">
       <%= link_to "Retour", root_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>
</div>
