
<h1 class="form-title text-center">Fiche d'inscription</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-horizontal">
  <%= simple_form_for @loutre do |f| %>
    <%= f.error_notification %>
    <div class="form-group">
      <div class="form-boite">
        <h3 class="text-center">Proposer votre loutre</h3>
        <%= f.input :name, label: "Nom de la loutre" %>
        <%= f.input :personality, label: "Quel est le caractère de votre loutre"%>
        <%= f.input :event, label: "A quel type d'événement votre loutre peut participer" %>
      </div>
    </div>

    <div class="form-group">
      <div class="form-boite">
        <h3 class="text-center">Quelques infos sur votre annonce</h3>
          <%= f.input :price, label: "Tarif de votre loutre " %>
      </div>

    </div>
    <div class="text-center">
      <%= f.input :image, as: :file, label: "ajouter votre photo" %>
      <%= f.button :submit, class: "btn btn-primary", value: "Ajouter" %>
    </div>
  <% end %>
</div>

    </div>
  </div>
</div>
