<div class="border border-top-secondary">
<div class="container">

  <div class="show-name">
    <h1><strong>🖼 <%= @loutre.name %></strong></h1>
  </div>

  <div class="d-flex">
      <div class="d-flex">
        <%= image_tag @loutre.photo, class: "image-show"%>
      </div>
    <div >
      <div class="form-container">
        <div class="formulaire">
          <%= render 'shared/form' %>
        </div>
      </div>
    </div>
  </div>

  <div class="descriptif mb-5">
    <h3><strong>Prix :</strong> <%= @loutre.price %> €/jour </h3>
    <h3> <strong>Propriétaire :</strong> <%=@loutre.user.first_name.capitalize %> <%=@loutre.user.last_name.capitalize%></h3>
    <h3> <strong>Personnalité :</strong> <%= @loutre.personality %></h3>
    <h3> <strong>Activité :</strong> <%= @loutre.event %></h3>
  </div>

</div>
</div>
