<div class="container">
  <div class="card-show">
    <div class="card-name">
      <div>
        <h2 id="otter-name">Name: <%= @loutre.name %></h2>
      </div>
      <div id="caractere">
        <p><%= @loutre.personality %></p>
      </div>
    </div>
    <div class="card-img">
        <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQagNt1OWs7j_3WxkSxDpVxffe7OsfM2U_0dQ&usqp=CAU/>
      <div class="event">
        <p><%= @loutre.event %></p>
      </div>
    </div>
    <div class="card-price">
      <div>
        <p><%=@loutre.user.last_name %></p>
      </div>
      <div>
        <p><%= @loutre.price %> €/jour</p>
      </div>
    </div>
  </div>
</div>
