<div class="container">

  <div class="show-name">
    <h1><strong><%= @loutre.name %></strong></h1>
  </div>

<div class="card-product">
  <%= image_tag @loutre.photo, class: "image-show"%>
  <div class="card-product-infos">
    <h2> <strong>Personnalité</strong> : <%= @loutre.personality %></h2>
    <h2> <strong>Activité</strong> :<%= @loutre.event %></h2>
    <h2><%= @loutre.price %> €/jour </h2>
    <p><strong>Propriétaire</strong> : <%=@loutre.user.first_name.capitalize %> <%=@loutre.user.last_name.capitalize%></p>
  </div>
</div>


    <div class="formular">
      <div class="form-container">
        <div class="formulaire">
          <%= render 'shared/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
