<div class="container">

  <div class="show-name">
    <h1><strong><%= @loutre.name %></strong></h1>
  </div>

  <div class="d-flex">
    <div class="card-show-loutre p-0">
      <div class="d-flex">
        <img class="show-image" src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQagNt1OWs7j_3WxkSxDpVxffe7OsfM2U_0dQ&usqp=CAU/>
        <div class="descriptif">
          <p> <strong> Propriétaire :</strong> <%=@loutre.user.first_name.capitalize %> <%=@loutre.user.last_name.capitalize%></p>
          <p> <strong>Personalité :</strong> <%= @loutre.personality %></p>
          <p> <strong>Activité :</strong> <%= @loutre.event %></p>
          <p class="show-text"><%= @loutre.price %> €/jour </p>
        </div>
      </div>
    </div>
    <div class="formular">
      <div class="form-container">
        <div class="formulaire">
          <%= render 'shared/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
